* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.blue-box {
    background: linear-gradient(to right, #2B3142, #434E6899);
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
}

.header-container {
    text-align: center;
    width: 80%;
    margin-bottom: 20px;
}

.header-container-left {
    text-align: start;
    width: 80%;
    margin-top: 10%;
    margin-bottom: 20px;
}

.site-name, .setup-heading {
    width: 100%;
}

.site-name {
    color: white;
    font-size: 30px;
    margin-bottom: 30px;
}

.setup-heading {
    color: white;
    font-size: 70px;
    margin-bottom: 5px;
}

.menu-heading {
    color: white;
    font-size: 40px;
    margin-bottom: 5px;
}


.overlay {
    background: #e6e0e930;
    padding: 60px;
    color: white;
    text-align: center;
    border-radius: 8px;
    width: 80%;
}
form {
    display: flex;
    flex-direction: column;
}

input, button {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 4px;
}

button {
    background: #000;
    color: white;
    cursor: pointer;
}

a {
    color: #fff;
    text-decoration: underline;
}

.signup { background-image: url('signup-bg.jpg'); } 
.login { background-image: url('login-bg.jpg'); }
.account-setup { background-image: url('setup-bg.jpg'); }

.main {
    display: flex;
    background-color: #111;
    color: white;
}

.sidebar {
    width: 20%;
    padding: 20px;
}

.content {
    width: 80%;
    padding: 20px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
}

.card {
    background: #242a36;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}

.left-aligned {
    align-items: flex-start;
    text-align: left;
}

.blue-box.left-aligned {
    justify-content: start;
}

.panel {
    background: #3B445B;
    padding: 20px;
    width: 20%;
    height: 100vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.profile h2 {
    margin: 0;
    color: white;
}
